* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /*need to figure out how to style header and navbar with gradient*/
 header {
  background-image: linear-gradient(to right, red,yellow,orange);
    padding: 20px;
    text-align: center;
    color: #fff;
  }

  nav {
    display: flex;
    background-color: #d8a47f;
  }

  nav a {
    color: #036251;
    padding: 15px 20px;
    text-decoration: none;
    text-align: left;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }
  
 .aside {
    flex: 10%;
    background-color: #b9c6ae;
    padding: 10px;
    flex-wrap: wrap;
  }

  .aside h2{
    padding: 10px;
    float: left;
    font-size: 50px;
    color: #036251;;

  }

  .projects {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .projects h2{
    padding: 50px;
    float: left;
    font-size: 70px;
    color: #036251;;
  }

  .card {
    border-style: outset;
    border-width: 1px;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 10px gray;
  }

  .card header {
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
  }

/*need to add caption for cards*/

/*
  .card img {
    width: 100%;
    border-radius: 0px 0px 20px 20px
  }
*/

footer {
    padding: 20px;
    text-align: center;
    background: #036251;
    color: #fff;
    margin-top: auto;
  }
  