* {
  box-sizing: border-box;
  color:black`;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  color: antiquewhite;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom, rgb(24, 154, 128),rgb(42, 161, 182),rgb(61, 91, 208));
}

.navigation {
  display: flex;
  padding: 10px;
  background-color: #51d990;
}

/*
.navigation ul{
  font-size: 20px;
  text-decoration: none;
}

.main {
  display: flex;
}
*/

footer {
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgb(24, 154, 128),rgb(42, 161, 182),rgb(61, 91, 208));
  color: #fff;
  margin-top: auto;
  }
