* {
    box-sizing: border-box;
  }
  
  body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }
  
  /*need to figure out how to style header and navbar with gradient*/
 header {
    color: #1b1a1a;
    padding: 20px;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    background-image: linear-gradient(to bottom, rgb(24, 154, 128),rgb(42, 161, 182),rgb(61, 91, 208));
  }

  nav {
    display: flex;
    background-color: #6962f1;
  }

  nav a {
    color: #000807;
    padding: 15px 30px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }
  
 .aside {
    flex: 0%;
    background-color: #bdf391;
    padding: 10px;
    flex-wrap: wrap;
  }

  .aside h2{
    padding: 10px;
    float: left;
    font-size: 50px;
    color: #000403;;

  }

  .projects {
    flex: 4;
    background-image: linear-gradient(to left, rgb(24, 154, 128),rgb(42, 161, 182),rgb(61, 91, 208));
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .projects h2{
    padding: 50px;
    text-align: center;
    font-size: 70px;
    color: #0a0b0b;;
  }

  .card {
    border-style: outset;
    border-width: 1px;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 10px rgb(67, 66, 66);
  }

  .card header {
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
  }

/*need to add caption for cards*/

/*
  .card img {
    width: 100%;
    border-radius: 0px 0px 20px 20px
  }
*/

footer {
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(24, 154, 128),rgb(42, 161, 182),rgb(61, 91, 208));
    color: #fff;
    margin-top: auto;
  }
  